﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.cityName {
    font-weight: 900;
    font-size: x-large;
}

.foodEnforcementItem {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #444;
    text-align: justify;
}

.classification1 {
    background-color: #f9ff64;
    background: -webkit-linear-gradient(#ffed24, #f9ff6f, #f1f79c); 
    background: -o-linear-gradient(#ffed24, #f9ff6f, #f1f79c); 
    background: -moz-linear-gradient(#ffed24, #f9ff6f, #f1f79c); 
    background: linear-gradient(#ffed24, #f9ff6f, #f1f79c);
}

.classification2 {
    background-color: #ffbd62;
    background: -webkit-linear-gradient(#f90, #faab69, #ffd4b4); 
    background: -o-linear-gradient(#f90, #faab69, #ffd4b4); 
    background: -moz-linear-gradient(#f90, #faab69, #ffd4b4); 
    background: linear-gradient(#f90, #faab69, #ffd4b4);
}

.classification3 {
    background-color: #ff6a6a;
    color: #fff;
    background: -webkit-linear-gradient(#ff0000, #ff7171, #ffd3d3); 
    background: -o-linear-gradient(#ff0000, #ff7171, #ffd3d3); 
    background: -moz-linear-gradient(#ff0000, #ff7171, #ffd3d3); 
    background: linear-gradient(#ff0000, #ff7171, #ffd3d3);
}

.progressBar {
    color: #fff;
    background: -webkit-linear-gradient(#0f2afc, #3f6cfe, #6c61ff); 
    background: -o-linear-gradient(#0f2afc, #3f6cfe, #6c61ff); 
    background: -moz-linear-gradient(#0f2afc, #3f6cfe, #6c61ff); 
    background: linear-gradient(#0f2afc, #3f6cfe, #6c61ff);
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
