﻿@{
    ViewBag.Title = "Geographic Recall Map";
}
<div class="row">
    <div class="col-md-12" ng-controller="gridCtrl">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-1">
                <button ng-click="previousPage()" class="btn fa fa-minus" ng-if="currentPage > 1" title="Previous" />
            </div>
            <div class="col-xs-2 text-center" ng-if="currentPage > 0">{{currentPage}} of {{pages}}</div>
            <div class="col-xs-1">
                <button ng-click="nextPage()" class="btn fa fa-plus"  ng-if="currentPage < pages" title="Next" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-11" style="width:100%;height:400px" id="map"></div>
            <div class="col-md-12" ui-grid="gridOptions" style="height: 300px;width:100%;"></div>
            <div class="row hidden location" ng-repeat="(key, value) in foodData | groupBy:groupCityState">
                <div class="col-md-12"><span class="cityName">{{key}}</span></div>
                <div class="col-md-12">
                    <div ng-repeat="data in value" class="row foodEnforcementItem" ng-class="data.classification | checkClass">
                        <div class="col-md-2">{{data.recall_number}}</div>
                        <div class="col-md-10 recallFirm">{{data.recalling_firm}}</div>
                        <div class="col-md-12">{{data.product_description}}</div>
                        <div class="col-md-12">{{data.reason_for_recall}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP3mekzx9h6z_y9fccGPB5SMc3o-baegM&v=3.20"></script>
    <script type="text/javascript" src="~/scripts/Home/FoodApp.js"></script>
}